
<div style="display:flex; width:100vw; height:20px; position:fixed; bottom:0; background-image: linear-gradient(to top, #6e3fc5, #a799c1); justify-content:space-between">
    <MudText Typo="Typo.caption" Style="color:#FFFFFF; margin-left:12px; margin-top:1px">HustMec version 1.0.2</MudText>
    <MudText Typo="Typo.caption" Style="color:#FFFFFF; margin-right:12px; margin-top:1px">Cần hỗ trợ? Xin vui lòng gọi 0123.456.789.</MudText>
</div>

@code {

}
