@page "/login"
@layout LoginLayout
@inject NavigationManager NavigationManager
@inject SignInManager<IdentityUser> SignInManager

@*Toan bo dien tich trang (= cua so trinh duyet)*@
<MudPaper Class="d-flex flex-row justify-center align-center"
    Style="width: 100vw;height: 100vh; overflow:hidden; position:relative">
    @*Khung form chinh*@
    <MudPaper Style="width: 200px; height: 300px" Class="rounded-8 border-solid border-1" Elevation="0">
        <MudPaper Class="d-flex flex-column align-center" Style="margin-top:30px" Elevation="0">
            @*Logo va welcome*@
            <div>
                <MudIcon Icon="@Icons.Material.Filled.LocalHospital" Size="Size.Large"></MudIcon>
            </div>
            <div>
                <MudText>Welcome Back</MudText>
            </div>
        </MudPaper>
        <MudPaper Elevation="0" Class="d-flex flex-column align-center">
            @* Input and submit button*@
            <div>

                <MudTextField Required="true" @bind-Value="Email" Label="Email" Variant="Variant.Outlined"></MudTextField>
                <MudTextField Required="true" @bind-Value="Password" Label="Mật khẩu" Variant="Variant.Outlined"></MudTextField>
            </div>
            <div style="margin-top:15px">
                <MudButton Variant="Variant.Filled" DisableElevation="true" Color="Color.Tertiary" OnClick="Login">Đăng nhập</MudButton>
                @if(!checkLogin)
                {
                    <MudAlert Severity="Severity.Error" Class="mt-2" Open="true" CloseIcon="true" CloseIconSize="Size.Small" CloseIconVariant="Variant.Filled" CloseIconColor="Color.Error">
                        Sai tài khoản hoặc mật khẩu
                    </MudAlert>
                }
            </div>
        </MudPaper>
    </MudPaper>
</MudPaper>

@code {
    public string? Email { get; set; }
    public string? Password { get; set; }

    private bool checkLogin = true;
    private async Task Login()
    {
        var result = await SignInManager.PasswordSignInAsync(Email, Password, false, false);
        if (result.Succeeded)
        {
            NavigationManager.NavigateTo($"/");
        }
        else
        {
            checkLogin = false;
        }
    }
}