@using Append.Blazor.Printing
@inject IPrintingService PrintingService
@inject IPatientService PatientService
@inject IPrescriptionService PrescriptionService

<MudDialog>
	<DialogContent>
		<form id="printable-form">
			<div style="display:block;text-align:center;">
				<h3 style="text-align:center;">HustMec</h3>
				<MudText>Mễ Trì, Từ Liêm, Hà Nội, Việt Nam</MudText>
				<MudText>090123456</MudText>
			</div>
			<div style="display: flex; text-align: center; flex-direction: column; flex-wrap: wrap; padding-top:10px">
				<h3>PHIẾU THU</h3>
				<MudText Typo="Typo.body1" Style="text-align:center">HD00000001</MudText>
				<MudText Typo="Typo.caption" Style="text-align:center;width:100%">@(DateTime.Now.ToString("dd-MM-yyyy hh:mm tt"))</MudText>
			</div>
			<div style="display: flex; padding-top:20px; padding-bottom:30px">
				<MudGrid Spacing="3">
					<MudItem>
						<MudText Typo="Typo.body1" Style="text-align:center">Tên khách hàng: abc</MudText>
					</MudItem>
					<MudItem>
						<MudText Typo="Typo.body1" Style="text-align:center">Số điện thoại: 090123456</MudText>
					</MudItem>
					<MudItem>
						<MudText Typo="Typo.body1" Style="text-align:center">Địa chỉ: Mễ Trì, Từ Liêm, Hà Nội, Việt Nam</MudText>
					</MudItem>
				</MudGrid>
			</div>
				<MudDataGrid Style="display:flex; width:700px" Elevation="0" Items="@prescription.MedicinePrescribed" ReadOnly="true">
					<Columns>
						<PropertyColumn Property="m => m.Name" Title="Tên thuốc" />
						<PropertyColumn Property="m => m.BuyingQuantity" Title="Số lượng" />
						<PropertyColumn Property="m => m.SellingPrice" Title="Giá bán (đơn vị: đồng)" />
						<PropertyColumn Property="m => m.SellingPrice * m.BuyingQuantity" Title="Thành tiền (đơn vị: đồng)" />
					</Columns>
				</MudDataGrid>
				<MudText Style="padding-top:20px; font-weight:bold" Typo="Typo.body1">Tổng cộng: @totalBillCost (đồng) </MudText>
				<MudText Style="padding-top:20px" Typo="Typo.body1">Ghi chú: @prescription.Note </MudText>
				<MudGrid Style="padding-top:20px" Spacing="2">
					<MudItem>
						<MudText Typo="Typo.body1">Người nộp tiền: abc</MudText>
					</MudItem>
					<MudItem>
						<MudText Typo="Typo.body1">Người thu tiền: xyz</MudText>
					</MudItem>
				</MudGrid>
		</form>
	</DialogContent>
	<DialogActions>
		<MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="@(_ => PrintingService.Print("printable-form", PrintType.Html))">In</MudButton>
	</DialogActions>
</MudDialog>

@code {

	[Parameter]
	public Billing Bill { get; set; }

    [CascadingParameter]
    MudDialogInstance MudDialog { get; set; }

	private Patient patient = new Patient();

	private Prescription prescription = new Prescription();

	private int totalBillCost = 0;

	protected override async Task OnInitializedAsync()
	{
		patient = await PatientService.GetPatientById(Bill.PatientId);
		prescription = await PrescriptionService.GetPrescriptionById(Bill.PrescriptionId);
		GetTotalBillCost();
	}

	private void GetTotalBillCost()
	{
		foreach (var item in prescription.MedicinePrescribed)
		{
			totalBillCost += item.SellingPrice * item.BuyingQuantity;
		}
	}
}
