@page "/support"

<div class="d-flex" style="height:50rem; background-color:#FBFCFF; border-radius:20px; width:96.7%; justify-content:center">
    <MudImage Src="./assets/imgs/UnderConstruction.jpg"/>
</div>

@code {

}
