@inject NavigationManager NavigationManager

<div style="display:flex; width:97%; padding:20px 0px">
	<MudInput @bind-Value="search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" AdornmentColor="Color.Dark" IconSize="Size.Medium" 
	Placeholder="Tìm kiếm..." DisableUnderLine="true" />
	<MudSpacer />
	<MudAvatar Class="hovicon effect-9 sub-b" Image="https://res.cloudinary.com/dx6nxcdvv/image/upload/v1685349844/male_doctor.png"
	onclick="@(() => NavigationManager.NavigateTo("/account"))"></MudAvatar>
	<MudText Style="display:flex; align-items:center; padding-left: 20px" Typo="Typo.body1">Nguyễn Văn A</MudText>
</div>

@code {
	private string search = new string("");
}
