@inherits LayoutComponentBase
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
@inject IUserService UserService

<MudThemeProvider/>
<MudDialogProvider />
<MudSnackbarProvider />
<NavMenu />

<div style="margin-left:280px;">
	<TopBar UserName="@userName"/>
</div>
<div style="margin-left:280px;">
	@Body
</div>

@code {

	private static string userName = string.Empty;

	protected override async Task OnInitializedAsync()
	{
		var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
		if (authState.User.Identity.IsAuthenticated)
		{
			var userId = authState.User.Claims
			.Where(c => c.Type.Equals(ClaimTypes.NameIdentifier))
			.SingleOrDefault().Value;
			userName = await UserService.GetUserNameByUserId(userId);
		}
		else NavigationManager.NavigateTo("/auth/login");
	}
}
