@inject AuthenticationStateProvider AuthenticationStateProvider
@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>
<p></p>


<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>


@code {
    private int currentCount = 0;
    private readonly IConfiguration _config;
    private MedicineRepo medicineRepo;

    //private List<Medicine> collection = new List<Medicine>();

    protected override void OnInitialized()
    {
        medicineRepo = new MedicineRepo(new MongoDbSetup(_config));
    }

    private void IncrementCount()
    {
        //collection = medicineRepo.GetMedicineByKeyword("ngay 1 vien").Result;
        var auhState = AuthenticationStateProvider.GetAuthenticationStateAsync();
        var a = auhState.Result.User.Claims;
        foreach (var item in a)
        {
            if (item.Type == ClaimTypes.NameIdentifier)
            {
                var b = item.Value;
            }
        }
    }


}

