@inherits LayoutComponentBase
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
@inject IUserService UserService

<MudThemeProvider/>
<MudDialogProvider />
<MudSnackbarProvider />
@*<NavMenu />*@

<div style="margin-bottom: 18px">
	<TopBar UserName="@userName"/>
</div>
<div style="display:flex; justify-content:center">
	@Body
</div>
<div>
	<Footer />
</div>

@code {

	private static string userName = string.Empty;

	protected override async Task OnInitializedAsync()
	{
		var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
		if (authState.User.Identity.IsAuthenticated)
		{
			var userId = authState.User.Claims
			.Where(c => c.Type.Equals(ClaimTypes.NameIdentifier))
			.SingleOrDefault().Value;
			userName = await UserService.GetUserNameByUserId(userId);
		}
		else NavigationManager.NavigateTo("/auth/login");
	}
}
